SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

# CREDENTIALS
EMAIL_USER_GOD=
PASSWORD_USER_GOD=

EMAIL_ADMIN=
PASSWORD_ADMIN=

EMAIL_GESTOR=
PASSWORD_GESTOR=

EMAIL_ESTAFETA=
PASSWORD_ESTAFETA=

# CONTAS ANTIGAS (mantidas ativas)
EMAIL_SUPERADMIN=
PASSWORD_SUPERADMIN=

EMAIL_EMPRESA=
PASSWORD_EMPRESA=

EMAIL_ENTREGADOR=
PASSWORD_ENTREGADOR=